<h5>Login</h5>

<form [formGroup]="loginFrm" (ngSubmit)="login()" >

    <div class="input-field col s12">
        <input type='text' formControlName="email" id='email' />
        <label for="email">Email</label>
    </div>

    <div class="input-field col s12">
        <input type='text' formControlName="password" id='password' />
        <label for="email">Password</label>
    </div>

    <div class="input-field col s12">
        <button class='waves-effect waves-light btn col s12' >
            Submit
        </button>
    </div>

    <p>{{loginFrm.value | json}}</p>
    <p>{{loginFrm.status | json}}</p>

</form>
