<div style="text-align:center">
  <h4>
    Welcome to {{ title }}!
  </h4>

  <!-- 1 Navigation / router  -->

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="home" routerLinkActive='active' >Home</a></li>
        <li><a routerLink="profile" routerLinkActive='active' >Profile</a></li>
        <li><a routerLink="login" routerLinkActive='active' >Login</a></li>
      </ul>
    </div>
  </nav>
 
<router-outlet></router-outlet>
